.gform-settings__wrapper.custom {
  display: flex;
  justify-content: flex-end;
  margin-top: -90px;
}

label.gform-settings-label {
  font-weight: 700;
  font-size: 1rem;
}

#gform_setting_feedName {
  margin-bottom: 1.25rem;
}